.Sizes span{
    display: inline;
      margin-top: 10px;
      margin-right: 10%;
    background-color: #F6F8F9;
    padding: 8px 16px;
    cursor: pointer;
    
}


.Sizes span:hover{
    background: #E5E9EB;
    background-color: #c4ced8;
    
    
    
}